/* GENERAL*/
* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #A7B0CA;
    color: #210124;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.first {
    margin-top: 5.4rem;
}

.last {
    margin-bottom: 5.4rem;
}

h1 {
    text-align: center;
    padding: 6rem;
    font-size: 2.5rem;
}

h2, p{
padding: 0.5rem;
}

.pl{
    padding-left: 10px;
}

/* NAV / NAVIGATION MENU*/
nav {
    top: 0;
}

nav ul {
    float: right;
    list-style: none;
    margin-right: 60px;
}

nav li {
    float: left;
    padding: 0 10px;
}

a, a:visited,
.copyright {
    color: #DCE2F9;
}

nav img{
    display: none !important;
}

nav,
footer {
    background-color: #07004D;
    position: fixed;
    width: 100vw;
    padding: 2rem;
    font-size: 1.4rem;
}

/* FOOTER (SOME FOOTER STYLING IS CONTAINED WITHIN NAV)*/
footer {
    bottom: 0;
    text-align: center;
}

.copyright{
    float: right;
    margin-right: 70px;
}

/* INDEX / PORTFOLIO */
.project {
    padding: 2rem 25%;
    display: flex;
    width: 50vw;
    height: 13vw;
    gap: 10vw;
    
}

.project img{
    overflow-x: unset;
}

.project div{
    overflow: auto;
}

#portfolioH1{
    padding-bottom: 4rem;
}

.project h2{
    padding-bottom: 2rem;
}

/* ABOUT ME */
.whoAmI{
    display: flex;
    flex-direction: row;
    padding-left: 18%;
    padding-right: 18%;
}

.aboutMe *{
    text-align: left;
    padding-left: 0;
    padding-right: 15%;
}

.aboutMe h1{
    padding-bottom: 1rem;
}

.whoAmI img{
    width: 150%;
}

/* SLIDESHOW */
.slideshow{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    position: relative;
    bottom: 4rem;
    height: 450px;
}
.slideshow>img{
    width: 10px;
}


#centerImg{
    flex-grow: 6;
    max-width: 30vw;
}

#leftImg, #rightImg{
    flex-grow: 3;
    object-fit: scale-down;
}

.slideshowControls{
    flex-grow: 1;
    margin: auto;
    font-size: 150px;
    font-weight: bold;
    color: #07004D;
    user-select: none;
}

.slideshowControls:hover{
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

.center{
    align-self: center;
}

#description{
    background-color: #DCE2F9;
    color: #210124;
    border: solid 2px #210124;
    text-align: center;
    position: relative;
    top: -10px;
}

/* LEBENSLAUF */
.lebenslauf h1{
    text-align: left;
    padding-bottom: 3rem;
}
#lebenslauf{
    padding-left: 8rem;
    padding-right: 8rem;
}
#lebenslauf li{
    padding: 5px 0;
    font-size: 1.4rem;
    overflow-x: unset; /* overflow-x: hidden on * makes bullet points disappear*/
}

/* SKILLS */
.skills h1{
    text-align: left;
    padding-bottom: 3rem;
    padding-top: 4rem;
}

#skillsContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 6rem;
    padding-right: 6rem;
    gap: 2rem;
}

.skillsContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.4rem;
    gap: 1rem;
}
.skillsContainer progress{
    width: 100%;
    height: 1rem;
    border: none;
    color: #4059AD;
    -webkit-appearance: none; /* allowing for thicker bar*/
    -moz-appearance: none;
    appearance: none;
}

progress::-moz-progress-bar { /* For Firefox */
    background: #4059AD;
}
  
progress::-webkit-progress-value { /* For Chrome or Safari */
    background: #4059AD;
}

/* CONTACT / KONTAKT    FORMULAR */
#contact{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7rem;
    width: 30%;
}

#contact p, #contact>input, #contact textarea, #anrede{
    padding: 5px;
    font-size: 1.4rem;
    margin: 10px;
    padding-left: 0;
}

#contact h1{
    text-align: left;
    padding: 1rem 0;
}

#anrede{
    width: 50%;
    display: flex;
    justify-content: left;
    gap: 40px;
}

input, textarea{
    background-color: #DCE2F9;
    border: 2px #210124 solid;
}

input[type="submit"]{
    color: #210124;
    width: 25%;
    align-self: flex-end;
}

/* IMPRESSUM */
.impressum{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 18%;
    max-width: fit-content;
    height: 40%;
    margin: auto;
}

.impressum p{
    font-size: 1.4rem;
}

.impressum h1{
    padding: 0;
    padding-bottom: 2rem;
    text-align: left;
}

/* MOBILE */
@media screen and (max-width:576px) {
    h1{
        padding-top: 4rem;
        font-size: 2rem;
    }

    /* NAVIGATION / HAMBURGER MENU */
    nav ul{
        display: none;
        background-color: #07004D;
        position: absolute;
        bottom: 0;
        top: 6rem;
        overflow: auto;
    }
    nav li{
        float: none;
        padding: 10px 0;
    }
    nav img{
        display: inline !important;
        position: relative;
        right: -70vw;
    }
    
    /* PORTFOLIO */
    .project {
        flex-direction: column;
        height: auto;
        width: auto;
        padding: 1rem;
        text-align: center;
    }

    .project h2{
        padding: 0;
        text-align: center;
    }

    #portfolioH1{
        padding-bottom: 1rem;
    }

    /* ABOUT ME */
    .whoAmI{
        flex-direction: column;
        padding: 1rem;
        gap: 30px;
    }

    .aboutMe *{
        padding: 0;
    }

    .aboutMe{
        padding: 3rem 1rem 0;
    }

    .whoAmI img{
        width: auto;
    }

    /* SLIDESHOW */

    .hobbies{
        position: absolute;
    }

    .hobbies h1{
        padding: 0.5rem 2rem;
        text-align: left;
    }

    .slideshow{
        padding: 1rem;
        display: block;
        height: auto;
        overflow: hidden;
    }

    #leftImg, #rightImg{
        display: none;
    }
    
    #centerImg{
        max-width: 100%;
    }

    .slideshowControls{
        font-size: 50px;
        position: relative;
        color: #DCE2F9;
    }

    #previous{
        top: 150px;
    }

    #next{
        bottom: 270px;
        left: 85vw;
    }

    .center{
        height: 350px;
    }

    /* LEBENSLAUF */
    #lebenslauf {
        padding: 0 3rem;
    }

    #lebenslauf li, #skillsContainer label{
        font-size: 1rem;
    }

    #skillsContainer{
        grid-template-columns: repeat(1,1fr);
    }

    .skillsContainer, #skillsContainer, .skills, .skills h1{
        padding: 0;
    }

    .skills{
        padding: 2rem 3rem 3rem;
    }

    .skills h1, .lebenslauf h1{
        padding-bottom: 2rem;
        text-align: center;
    }


    /* KONTAKT */
    #contact{
        width: auto;
        padding: 1rem;
    }
    #anrede{
        width: auto;
    }

    #contact p, #contact>input, #contact textarea, #anrede, .impressum p{
        font-size: 1rem;
    }

    /* IMPRESSUM */

    .impressum{
        width: auto;
        padding-top: 5rem;
        z-index: -1;
    }
    .impressum h1{
        padding-bottom: 1rem;
    }
    .impressum p{
        padding-left: 0;
    }
}

/* BETWEEN MOBILE & BIG SCREENS */
@media screen and (max-width:1800px) and (min-width:576px) {
    /* PORTFOLIO */
    .project {
        margin: auto;
        padding: 2rem;
        width: unset;
        height: unset;
        max-height: 50vh;
        max-width: 80vw;
        
    }

    .project img{
        max-width: 30%;
        object-fit: scale-down;
    }
    
    .project div{
        overflow: hidden;
    }
    
    #portfolioH1{
        padding-bottom: 3rem;
    }
    
    .project h2{
        padding-bottom: 0.5rem;
    }

    #lastProject{
        padding-bottom: 8rem;
    }

    /* ABOUT ME */
    .whoAmI img{
        object-fit: scale-down;
    }
    .center{
        max-width: 30vw;
    }

    .hobbies h1{
        padding: 4rem;
        padding-bottom: 0;
    }

    .slideshow{
        bottom: unset;
    }

    /* LEBENSLAUF / SKILLS */
    #skillsContainer{
        padding-bottom: 3rem;
    }

    /* KONTAKT */
    #contact{
       width: 50%;
    }

    /* IMPRESSUM */
    .impressum{
        width: auto;
    }
}